.notification {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ff4d4d; /* Rouge par défaut */
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  z-index: 9999;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.notification.success {
  background-color: #28a745; /* Vert pour succès */
}

.notification.error {
  background-color: #dc3545; /* Rouge pour erreur */
}

.notification.fade-out {
  opacity: 0;
}

.notification button {
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
}
