.D1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    bottom: 10px;
    padding: 15px;
    right: 18px;
    position: relative;
    background-color: #3487da; 
}

.T {
    color: rgb(28, 20, 20);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    padding: 7px;
    text-decoration: none;
    font-weight: bold; 
}

.a {
    display: flex;
    gap: 35px; 
    align-items: center;
    justify-content: flex-start;
}

.c {
    color: rgb(200, 254, 254);
    font-size: 18px; 
    text-decoration: none;
    transition: color 0.3s ease; 
    position: relative;
    margin-right:16px ;
}

.c:hover {
    color: lightgray;
}

.me {
    font-size: 40px;
    font-weight: bold;
}

.me img {
    height: 55px;  /* Ajuste cette valeur pour agrandir le logo */
    width: auto; 
    position: relative;
    left: 7px;
    color: white;  /* Maintient les proportions */
    object-fit: contain; /* Évite la déformation */
    transition: transform 0.3s ease; /* Animation fluide */
    transform: scale(1.4);
}

